// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #2b78b8;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #dc3545;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #198754;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$input-placeholder-color: #6c757d;
$border-color: #adb5bd;

$fa-font-path: '../fonts/vendor/@fortawesome/fontawesome-free';
