.list .item {
    padding: 8px 8px 5px 8px;
    margin-top: 5px;
    border-bottom: 1px solid #ddd;
}

/*.list div + div {
    border-top: 1px solid #ddd;
}*/

.list div {
    margin-right: 10px;
}

.list .item .small, .list .item .small a {
    color: #909090;
}

.spacer {
    margin-right: 3px;
}

.required:after {
    content: " *";
    color: red;
}

.comic-check label {
    margin-top: 8px;
    margin-left: 2px;
}

.comic-check input {
    height: 18px;
    width: 18px;
    margin-top: 10px;
}

.custom-file-label::after {
    content: "Browse";
}

.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(1.5em + 0.75rem);
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    content: "Browse";
    background-color: #e9ecef;
    border-left: inherit;
    border-radius: 0 0.25rem 0.25rem 0;
}

.thumbnail {
    height: 250px;
    width: auto;
}

.disabled {
    display: flex;
    flex-wrap: wrap;
}

.disabled .btn {
    padding: 5px 0 0 0;
}

#fileupload .preview img {
    max-width: 80px;
    max-height: 80px;
}

#fileupload .table td {
    vertical-align: middle;
}

#fileupload .preview {
    text-align: center;
}

#fileupload .td-preview {
    width: 80px;
    height: 80px;
}

#fileupload .td-buttons {
    width: 20%;
    text-align: right;
}

.fade.in {
    opacity: 1;
}
