.list .item {
    padding: 8px 8px 5px 8px;
    margin-top: 5px;
    border-bottom: 1px solid #ddd;
}

.pre-formatted {
    white-space: pre-line;
    line-height: 1.3;
}

.list div {
    margin-right: 10px;
}

.list .item .small, .list .item .small a {
    color: #909090;
}

.item:last-of-type {
    border-bottom: 0 !important;
}

.spacer {
    margin-right: 3px;
}

.required:after {
    content: " *";
    color: red;
}

.comic-check label {
    margin-top: 8px;
    margin-left: 2px;
}

.comic-check input {
    height: 18px;
    width: 18px;
    margin-top: 10px;
}

.custom-file-label::after {
    content: "Browse";
}

.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(1.5em + 0.75rem);
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    content: "Browse";
    background-color: #e9ecef;
    border-left: inherit;
    border-radius: 0 0.25rem 0.25rem 0;
    cursor: pointer;
}

.thumbnail {
    height: 250px;
    width: auto;
}

.inline-components {
    display: flex;
    flex-wrap: wrap;
}

.inline-components .btn {
    padding: 5px 0 0 0;
}

#fileupload .preview img {
    max-width: 80px;
    max-height: 80px;
}

#fileupload .table td {
    vertical-align: middle;
}

#fileupload .preview {
    text-align: center;
}

#fileupload .td-preview {
    width: 80px;
    height: 80px;
}

#fileupload .td-buttons {
    width: 20%;
    text-align: right;
}

.fade.in {
    opacity: 1;
}

.users > div {
    line-height: 3;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.logo {
    width: auto;
    height: 40px;
    margin-top: -4px;
    margin-right: 5px;
}

.cursor-pointer {
    cursor: pointer;
}

#results-box {
    width: calc(100% - 36px);
    left: 18px;
    position: absolute;
    background-color: #FFFFFF;
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    border: #bebebe 1px solid;
    z-index: 100;
    -moz-box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 350px;
}

#results-box ul {
    padding: 0;
    list-style: none;
    margin-bottom: 0;
}

#results-box ul li {
    line-height: 1.1;
    padding: 6px 13px;
    cursor: pointer;
}

#results-box ul li:hover {
    background-color: #f1efee;
}

.flag{display:inline-block;background:url(/public/img/flags.png) no-repeat;background-size:100%;width:24px;min-width:24px;height:24px;vertical-align:bottom;opacity:0.75;}
.flag-_unknown{background-position:0 -0px}.flag-bd{background-position:0 -24px}.flag-bg{background-position:0 -48px}.flag-br{background-position:0 -72px}.flag-cn{background-position:0 -96px}.flag-ct{background-position:0 -120px}.flag-cz{background-position:0 -144px}.flag-de{background-position:0 -168px}.flag-dk{background-position:0 -192px}.flag-es{background-position:0 -216px}.flag-fi{background-position:0 -240px}.flag-fr{background-position:0 -264px}.flag-gb,.flag-en{background-position:0 -288px}.flag-gr{background-position:0 -312px}.flag-hk{background-position:0 -336px}.flag-hu{background-position:0 -360px}.flag-id{background-position:0 -384px}.flag-il{background-position:0 -408px}.flag-in{background-position:0 -432px}.flag-ir{background-position:0 -456px}.flag-it{background-position:0 -480px}.flag-jp{background-position:0 -504px}.flag-kr{background-position:0 -528px}.flag-lt{background-position:0 -552px}.flag-mm{background-position:0 -576px}.flag-mn{background-position:0 -600px}.flag-mx{background-position:0 -624px}.flag-my{background-position:0 -648px}.flag-nl{background-position:0 -672px}.flag-no{background-position:0 -696px}.flag-ph{background-position:0 -720px}.flag-pl{background-position:0 -744px}.flag-pt{background-position:0 -768px}.flag-ro{background-position:0 -792px}.flag-rs{background-position:0 -816px}.flag-ru{background-position:0 -840px}.flag-sa{background-position:0 -864px}.flag-se{background-position:0 -888px}.flag-th{background-position:0 -912px}.flag-tr{background-position:0 -936px}.flag-ua{background-position:0 -960px}.flag-vn{background-position:0 -984px}

@media (max-width: 480px) {
    .files .image td:nth-child(2) {
        display: table-cell;
    }
    .files .image td:nth-child(3) {
        display: none;
    }
}
