/* utility classes */

.cursor-pointer {
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -epub-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.nodrag {
    -webkit-user-drag: none;
    -epub-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.noevents {
    -webkit-pointer-events: none;
    -epub-pointer-events: none;
    -moz-pointer-events: none;
    -ms-pointer-events: none;
    -o-pointer-events: none;
    pointer-events: none;
}

.loading-container.is-loading .d-not-loading,
.loading-container:not(.is-loading) .d-loading {
    display: none;
}

/* layout fixes */

.body-reader {
    padding-top: 3.5rem;
    padding-bottom: 0;
    margin-bottom: 0;
    min-height: 100vh;
}

.body-reader #header {
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
}

.body-reader main.container-lg {
    max-width: 100%;
}

body.hide-header {
    padding-top: 0;
}

/* transitions */

/*#reader-main,*/
/*#reader-images,*/
/*.reader-image-wrapper,*/
/*#reader-images img,*/
/*#reader-controls-wrapper,*/
#reader-page-bar,
#reader-page-bar #trail,
#reader-page-bar #thumb,
#reader-page-bar #track {
    transition-property: all;
    transition-duration: 0.2s;
}

#reader-controls-collapser span {
    transition-property: all;
    transition-duration: 0.4s;
}

/* borders */

#reader-controls > div:not(:first-child),
.footer {
    border-top: 1px solid rgba(128, 128, 128, 0.5);
}

#reader-controls-collapser {
    border-left: 1px solid rgba(128, 128, 128, 0.5);
    border-right: 1px solid rgba(128, 128, 128, 0.5);
}

/* settings and controls */

#modal-settings:not(.show-advanced) .advanced {
    display: none;
}

#modal-settings .advanced label {
}

#modal-settings .advanced label:before {
    content: '* ';
}

#reader-controls-wrapper {
    /* sticky behaviour on mobile? */
    /*position: -webkit-sticky;
    position: sticky;*/
    left: 0;
    max-width: 100vw;
}

#reader-controls-collapser {
    width: 34px;
}

#reader.hide-sidebar #reader-controls-collapser .fa-caret-right {
    transform: rotateY(180deg);
}

#reader-controls-mode span:not(.fas) {
    display: none
}

/* reader */

#reader {
    flex: 1 0 0;
}

#reader-main {
    min-height: calc(100vh - 3.5rem);
    min-width: 100%;
    flex:1;
}

body.hide-header #header {
    display: none;
}

body.hide-header #reader #reader-main {
    min-height: 100vh;
}

#reader-images .alert {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -epub-user-select: text;
    -moz-user-select: text;
    -khtml-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

#reader-images {
    /*flex-wrap: nowrap;*/
    min-height: auto;
    /*min-height: fit-content;*/
    /*min-height: 100%;*/
    width: auto;
    min-width: 100%;
}

#reader[data-direction="ltr"] .directional {
    flex-direction: row;
}

#reader[data-direction="rtl"] .directional {
    flex-direction: row-reverse;
}

#reader[data-direction="ltr"] #trail {
    left: 0;
}

#reader[data-direction="rtl"] #trail {
    right: 0;
}

#reader[data-direction="ltr"] #trail #thumb {
    float: right;
}

#reader[data-direction="rtl"] #trail #thumb {
    float: left;
}


#reader[data-renderer="long-strip"] #reader-images {
    flex-direction: column;
}

#reader[data-renderer="long-strip"][data-display="fit-height"] #reader-main,
#reader[data-renderer="long-strip"][data-display="fit-both"] #reader-main{
    height: auto;
    max-height: min-content;
}

#reader:not([data-renderer="long-strip"]) #reader-images {
    justify-content: center;
}

#reader[data-display="no-resize"] #reader-images {
    box-sizing: content-box;
    min-width: auto;
}

#reader-images img {
    height: auto;
    width: auto;
    margin: auto;
    object-fit: scale-down;
}

#reader-images.constrained {
    box-sizing: content-box;
    min-width: auto;
    min-width: min-content;
}

.reader-image-wrapper {
    height: auto;
    flex: 0 1 auto;
}

#reader[data-display="fit-height"] .reader-image-wrapper,
#reader[data-display="fit-both"] .reader-image-wrapper {
    height: 100%;
}

#reader[data-renderer="long-strip"] .reader-image-wrapper {
    flex: 0 0 auto;
    display: block;
}

#reader[data-renderer="long-strip"][data-display="fit-height"] .reader-image-wrapper img,
#reader[data-renderer="long-strip"][data-display="fit-both"] .reader-image-wrapper img  {
    object-fit: scale-down;
}

#reader-main,
#reader-images,
.reader-image-wrapper,
#reader-images img {
    max-width: none;
    max-height: none;
}

#reader[data-display="fit-height"] #reader-main,
#reader[data-display="fit-both"] #reader-main {
    /* this height & #reader-images.col seem necessary */
    height: calc(100vh - 3.5rem);
    max-height: calc(100vh - 3.5rem);
}

body.hide-header #reader[data-display="fit-height"]:not([data-renderer="long-strip"]) #reader-main,
body.hide-header #reader[data-display="fit-both"]:not([data-renderer="long-strip"]) #reader-main {
    height: 100vh;
    max-height: 100vh;
}

body.hide-header #hide-header-button {
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b;
}

#reader[data-display="fit-height"] #reader-images,
#reader[data-display="fit-height"] .reader-image-wrapper,
#reader[data-display="fit-height"] #reader-images img,
#reader[data-display="fit-both"] #reader-images,
#reader[data-display="fit-both"] .reader-image-wrapper,
#reader[data-display="fit-both"] #reader-images img {
    max-height: 100%;
}

#reader[data-display="fit-height"]:not([data-renderer="long-strip"]) #reader-images,
#reader[data-display="fit-height"]:not([data-renderer="long-strip"]) .reader-image-wrapper,
#reader[data-display="fit-height"]:not([data-renderer="long-strip"]) #reader-images img,
#reader[data-display="fit-both"]:not([data-renderer="long-strip"]) #reader-images,
#reader[data-display="fit-both"]:not([data-renderer="long-strip"]) .reader-image-wrapper,
#reader[data-display="fit-both"]:not([data-renderer="long-strip"]) #reader-images img {
    flex: 0 1 auto;
}

#reader[data-display="fit-height"] #reader-images,
#reader[data-display="fit-both"] #reader-images{
    height: calc(100% - 15px);
    width: inherit;
}

#reader[data-display="fit-height"].hide-page-bar #reader-images,
#reader[data-display="fit-height"][data-renderer="long-strip"] #reader-images,
#reader[data-display="fit-both"].hide-page-bar #reader-images,
#reader[data-display="fit-both"][data-renderer="long-strip"] #reader-images{
    height: 100%;
}

#reader #reader-main,
#reader #reader-images,
#reader .reader-image-wrapper,
#reader #reader-images img {
    max-width: 100%;
}

/*#reader[data-display="fit-width"].no-objectfit #reader-images img {
  width: 100%;
}*/
#reader:not(.native-long-strip) .reader-image-wrapper {
    /* don't use in .reader-image-wrapper img, would mess up object-fit */
    padding: 2px 0px;
}

#reader[data-renderer="single-page"] .reader-image-wrapper {
    margin: auto;
}

#reader[data-renderer="double-page"] .reader-image-wrapper {
    width: 50%;
}

.reader-image-block {
    font-size: 1.75em;
    padding: 0.5em;
    margin: 0.5em auto 0;
    width: 100%;
    color: rgba(128, 128, 128, 0.7);
    border-top: 5px dashed rgba(128, 128, 128, 0.7);
}

#reader .comic-title {
    font-size: 1.25em;
}

#reader .arrow-link {
    font-size: 30px;
}

/* page track */

#reader-page-bar {
    height: 100px;
    margin: 0 6px;
}

#reader-page-bar #track {
    height: 15px;
    width: 100%;
    border: 2px solid #aaa;
    border-bottom: 0 !important;
    position: absolute;
    left: 0;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.7);
    background: linear-gradient(to top, #aaa, #aaa 2px, rgba(0, 0, 0, 0.7) 2px, rgba(0, 0, 0, 0.7));
}

#reader.hide-page-bar #reader-page-bar,
#reader[data-renderer="long-strip"] #reader-page-bar,
#reader[data-renderer="recommendations"] #reader-page-bar {
    display: none !important;
}

#reader[data-direction="ltr"] #reader-page-bar .notch:not(:first-child),
#reader[data-direction="rtl"] #reader-page-bar .notch:not(:last-child) {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

#reader-page-bar #trail,
#reader-page-bar #thumb {
    margin-left: 0;
}

#reader-page-bar #thumb {
    background: #ccc;
    border: 0 !important;
    border-radius: 0.9em;
}

#reader-page-bar #trail {
    background: #444;
    background: rgba(255, 255, 255, 0.3);
}

#reader-page-bar #track,
#reader-page-bar #trail {
    border-radius: 1em;
}

#reader-page-bar:hover #thumb {
    background: #eee;
}

#reader-page-bar:hover #track {
    /*border: 2px solid #ccc;*/
}

#reader-page-bar .notch:not(.loaded) {
    background: repeating-linear-gradient(
        -45deg,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.05) 5px,
        rgba(255, 255, 255, 0.15) 5px,
        rgba(255, 255, 255, 0.15) 10px
    );
}

#reader-page-bar .notch.failed {
    background: rgba(255, 0, 0, 0.2);
}

/*#reader-page-bar .notch {
  position: static;
}*/
#reader-page-bar #notch-display {
    opacity: 0;
    top: -7rem;
    font-size: 2em;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 0.4em;
    transition: opacity 0.1s;
}

#reader-page-bar #track:hover #notch-display {
    opacity: 1;
}

#reader-page-bar .notch div {
    width: 100%;
    height: 100%;
}

/* load icon */

.reader-image-wrapper {
    background: transparent url('/public/img/loading.gif') center no-repeat;
    min-height: 128px;
}

.reader-load-icon {
    position: fixed;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    font-size: 100px;
    color: #fff;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s ease-in;
    opacity: 0;
    display: none;
    z-index: -1;
}

#reader.is-loading .reader-load-icon {
    z-index: 9;
}

#reader.is-loading .reader-load-icon {
    display: block;
}

#reader-images,
#reader.is-loading .reader-load-icon {
    opacity: 1;
}

#reader.is-loading #reader-images {
    opacity: 0.5;
}

/* goto top button */

.reader-goto-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    font-size: 40px;
    border-radius: 50%;
    z-index: 0;
    background: rgba(96, 96, 96, 0.2);
    color: #fff;
}

#reader[data-renderer="long-strip"] .reader-goto-top.show {
    z-index: 9;
}

/* alert */

#reader[data-renderer="alert"] #reader-images {
    flex-direction: column;
    height: auto !important;
}

#reader[data-renderer="alert"] #reader-images .alert {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}

/* recommendations */

#reader[data-renderer="recommendations"] #reader-images {
    display: block;
    cursor: auto;
    padding: 0.5em 1em;
    min-height: 100%;
}

/* Modernizr */

.no-localstorage #alert-storage-warning {
    display: block !important;
}


#reader-controls-wrapper {
    order: 1;
    z-index:1;
}

#reader-main {
    order: 2;
}


@media (max-width: 991.9px) {
    #reader-controls-container {
        max-width: 100%;
    }
}

/* desktop definitions */

@media (min-width: 992px) {

    #reader.layout-horizontal #reader-controls-wrapper {
        order: 2;
    }

    #reader.layout-horizontal #reader-main {
        order: 1;
    }

    /* controls */
    #reader:not(.layout-horizontal) .d-lg-none {
        display: inherit !important;
    }

    #reader:not(.layout-horizontal) #reader-controls-pages,
    #reader:not(.layout-horizontal) #reader-controls-footer,
    #reader:not(.layout-horizontal) #reader-controls-collapser {
        display: none !important;
    }

    #reader.layout-horizontal #reader-controls-wrapper {
        position: fixed;
        top: 3.5rem;
        bottom: 0;
        right: 0;
        left: auto;
        width: 20vw;
    }

    body.hide-header #reader.layout-horizontal #reader-controls-wrapper {
        top: 0;
    }

    #reader.layout-horizontal.hide-sidebar #reader-controls-wrapper {
        width: 34px;
    }

    #reader.layout-horizontal.hide-sidebar #reader-controls {
        overflow: hidden;
    }

    /* load icon */
    #reader.layout-horizontal .reader-load-icon {
        left: calc(50% - 10vw - 50px);
    }

    #reader.layout-horizontal.hide-sidebar .reader-load-icon {
        left: calc(50% - 17px - 50px);
    }

    /* page track */
    #reader.layout-horizontal #reader-page-bar {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 20vw;
        width: auto;
    }

    #reader.layout-horizontal.hide-sidebar #reader-page-bar {
        right: 34px;
    }

    #reader.layout-horizontal #reader-page-bar:hover #track {
        height: 50px;
    }

    /* reader */
    #reader.layout-horizontal {
        flex-flow: row;
    }

    #reader.layout-horizontal:not(.hide-page-bar):not([data-renderer="long-strip"]) .reader-image-wrapper {
        padding-bottom: 15px;
    }

    #reader.layout-horizontal:not(.hide-page-bar)[data-display="fit-height"] #reader-images,
    #reader.layout-horizontal:not(.hide-page-bar)[data-display="fit-both"] #reader-images {
        height: 100%;
    }

    #reader.layout-horizontal #reader-images {
        padding-right: 20vw !important;
    }

    #reader.layout-horizontal.hide-sidebar #reader-images {
        padding-right: 34px !important;
    }

}
